<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>JobForm</title>
  <style>
    body {
      margin: 20px;
      background-color: blanchedalmond;
    }

    h1 {
      text-align: center;
    }

    input {
      padding: 10px;
    }

    .block {
      display: grid;
      grid-template-rows: auto;
    }

    div {
      padding: 10px;
    }

    .baseinfo {
      margin-left: 100px;
      margin-right: 100px;
    }

    #state {
      margin-right: 20px;
    }

    fieldset {
      margin-bottom: 50px;
    }
  </style>
</head>

<body>
  <h1>Job Appliaction Form</h1>
  <form action="/submit" method="post">
    <fieldset>
      <legend>Basic Info</legend>
      <div class="baseinfo">
        <div class="block">
          <label for="fname">First Name:</label>
          <input type="text" id="fname" name="first_name" />
          <label for="lname">Last Name:</label>
          <input type="text" id="lname" name="last_name" />
        </div>

        <div class="gender">
          <label for="gender">Gender:</label>
          <input type="radio" id="male" name="gender" value="male" />
          <label for="male">Male</label>
          <input type="radio" id="female" name="gender" value="female" />
          <label for="female">Female</label>
          <input type="radio" id="other" name="gender" value="other" />
          <label for="other">other</label>
          <br /><br />

          <label for="dob">Date of Birth:</label>
          <input type="date" id="dob" name="dob" />
        </div>

        <div class="block">
          <label for="designation">Desigation:</label>
          <input type="text" id="designation" name="designation" />

          <label for="address1">Address1:</label>
          <input type="text" id="address1" name="address1" />
        </div>

        <div class="block">
          <label for="address2">Address2:</label>
          <input type="text" id="address2" name="address2" />
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" />
        </div>

        <div class="block">
          <label for="phone">Phone:</label>
          <input type="text" id="phone" name="phone" />

          <label for="city">City:</label>
          <input type="text" id="phone" name="city" />
        </div>

        <div>
          <label for="state">State:</label>
          <select id="state" name="state">
            <% state.forEach(function(s){%>
              <option value="<%=s.option_name %>">
                <%= s.option_name %>
              </option>
              <% }); %>
          </select>

          <label for="zipcode">Zipcode:</label>
          <input type="text" id="zipcode" name="zip" />
        </div>

        <div>
          <label for="status">Relationship Status:</label>
          <select name="relation_status" id="status">
            <%relation.forEach(function(rel){%>
              <option value="<%=rel.option_name%>">
                <%=rel.option_name%>
              </option>
              <%});%>
          </select>
        </div>
      </div>
    </fieldset>

    <!-- <div class="form-group">
      <fieldset>
        <legend>Education Details</legend>
        <div id="education-details" class="block">
          <div class="education-item">
            <select name="course" id="course">
              <%course.forEach(function(c) {%>
                <option value="<%=c.option_name%>">
                  <%=c.option_name%>
                </option>
                <%});%>
            </select>
            <label for="boardName">Name of Board</label>
            <input type="text" name="board[]" class="board" />
            <label for="passingYear">Passing Year</label>
            <input type="text" name="passingYear" />
            <label for="percentage">percentage</label>
            <input type="text" name="percentage" />
          </div>
        </div>
        <button type="button" id="add-education-button">Add More</button>
      </fieldset>
    </div>
    <div class="form-group">
      <fieldset>
        <legend>Work Experience</legend>
        <div id="experience">
          <div id="experience-details">
            <label for="company-name">Comapany Name</label>
            <input type="text" id="company-name" name="company-name" />
            <label for="designation">Designation:</label>
            <input type="text" id="designation" name="designation" />
            <label for="start-date">Form:</label>
            <input type="date" id="start-date" name="start-date" />
            <label for="end-date">To:</label>
            <input type="date" id="end-date" name="end-date" />
          </div>
        </div>
        <button type="button" id="add-experience-button">Add more</button>
      </fieldset>
    </div>
    <div class="form-grop">
      <fieldset>
        <legend>Language known</legend>
        <%language.forEach(function(lan) {%>
        <div>
          <label for="<%=lan.option_name%>"><%=lan.option_name%>:</label>
          <input type="checkbox" id="<%=lan.option_name%>" name="<%=lan.option_name%>" />
          <label for="read">Read:</label>
          <input type="checkbox" id="read" name="read" />
          <label for="write">Write:</label>
          <input type="checkbox" id="write" name="write" />
          <label for="speak">Speak:</label>
          <input type="checkbox" id="speak" name="speak" />
        </div>
        <%});%>
      </fieldset>
    </div>
    <div class="form-group">
      <fieldset>
        <legend>Technologies You Know</legend>
        <% tec.forEach(function(t) {%>
        <div>
          <label for="<%=t.option_name%>"><%=t.option_name%></label>
          <input type="checkbox" name="<%=t.option_name%>" id="<%=t.option_name%>" />
          <label for="beginner">Beginner</label>
          <input type="radio" name="experties" id="beginner" />
          <label for="beginner">Intermediate</label>
          <input type="radio" name="experties" id="Intermediate" />
          <label for="beginner">Expert</label>
          <input type="radio" name="experties" id="Expert" />
        </div>
        <%});%>
      </fieldset>
    </div>
    <div class="form-group">
      <fieldset>
        <legend>Reference Contact</legend>
        <div>
          <label for="name">Name</label>
          <input type="text" name="name" />
          <label for="contact">Contact No</label>
          <input type="text" name="contact" />
          <label for="relation">Relation</label>
          <input type="text" name="relation" />
        </div>
        <div>
          <label for="name">Name</label>
          <input type="text" name="name" />
          <label for="contact">Contact No</label>
          <input type="text" name="contact" />
          <label for="relation">Relation</label>
          <input type="text" name="relation" />
        </div>
      </fieldset>
    </div>
    <div class="form-group">
      <fieldset>
        <legend>Preferances</legend>
        <div class="location" style="margin-right: 1000px; padding: auto">
          <ul style="border: 1px solid black">
            <li>Prefered Location</li>
            <select name="location" id="location">
              <%location.forEach(function(loc) {%>
                <option value="<%=loc.option_name%>">
                  <%=loc.option_name%>
                </option>
                <%});%>
            </select>
          </ul>
        </div>
        <div>
          <label for="notice">Notice Period</label>
          <input type="text" name="notice" id="notice" />
          <label for="expected">Expected CTC</label>
          <input type="text" name="expected" id="expected" />
          <label for="current">Current CTC</label>
          <input type="text" name="current" id="current" />
        </div>
        <div>
          <label for="department">Department</label>
          <select name="department" id="department">
            <option value="hr">HR</option>
            <option value="design">Design</option>
            <option value="development">Development</option>
          </select>
        </div>
      </fieldset>
    </div> -->
    <input id="sub" type="submit" value="submit" />
  </form>
</body>
<script>
  const educationDetails = document.getElementById("education-details");
  const addEducationButton = document.getElementById("add-education-button");

  addEducationButton.addEventListener("click", function () {
    const educationItem = document.createElement("div");
    educationItem.classList.add("education-item");
    educationItem.innerHTML = `
          <select name="course" id="course">
              <%course.forEach(function(c) {%>
              <option value="<%=c.option_name%>"><%=c.option_name%></option>
              <%});%>
            </select>
            <label for="boardName">Name of Board</label>
            <input type="text" name="board[]" class="board" />
            <label for="passingYear">Passing Year</label>
            <input type="text" name="passingYear" />
            <label for="percentage">percentage</label>
            <input type="text" name="percentage" />

  `;
    educationDetails.appendChild(educationItem);
  });

  const experience = document.getElementById("experience");
  const addExperienceButton = document.getElementById(
    "add-experience-button"
  );

  addExperienceButton.addEventListener("click", function () {
    const experienceItem = document.createElement("div");
    experienceItem.classList.add("experience-details");
    experienceItem.innerHTML = `
    <label for="company-name">Comapany Name</label>
          <input type="text" id="company-name" name="company-name" required />
          <label for="designation">Designation:</label>
          <input type="text" id="designation" name="designation" required />
          <label for="start-date">Form:</label>
          <input type="date" id="start-date" name="start-date" required />
          <label for="end-date">To:</label>
          <input type="date" id="end-date" name="end-date" required />
    `;
    experience.appendChild(experienceItem);
  });
</script>

</html>