<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            margin-top: 10px;
            margin-bottom: 10px;
            margin-right: 200px;
            margin-left: 200px;
            background-color: antiquewhite;
        }
        tr,td {
            padding: 10px;
        }

        input {
            padding: 10px;
        }

        .table {
            display: flex;
            justify-content: center;
        }

        label {
            display: block;
        }
        .same{
            display: flex;
            justify-content: space-between;
        }
        .edu{
            display: flex;
            justify-content: space-between;
        }
        
    </style>
</head>

<body>

    <fieldset>
        <legend>Basic Details</legend>
        <table class="table">
            <tr>
                <td> <label for="fname">First Name:</label>
                    <input type="text" id="fname" name="first_name" />
                </td>
                <td><label for="lname">Last Name:</label>
                    <input type="text" id="lname" name="last_name" />
                </td>
            </tr>

            <tr>
                <td>Gender:
                    <input type="radio" id="male" name="gender" value="male" />
                    Male
                    <input type="radio" id="female" name="gender" value="female" />
                    Female
                    <input type="radio" id="other" name="gender" value="other" />
                    Other
                </td>
                <td>
                    <label for="dob">Date of Birth:</label>
                    <input type="date" id="dob" name="dob" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="designation">Desigation:</label>
                    <input type="text" id="designation" name="job_designation" />
                </td>
                <td>
                    <label for="address1">Address1:</label>
                    <input type="text" id="address1" name="address1" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" />
                </td>
                <td>
                    <label for="phone">Phone:</label>
                    <input type="text" id="phone" name="phone" />

                </td>
            </tr>
            <tr>
                <td>
                    <label for="city">City:</label>
                    <input type="text" id="phone" name="city" />
                </td>
                <td>
                    <label for="state">State:</label>
                    <select id="state" name="state">
                        <% state.forEach(function(s){%>
                            <option value="<%=s.option_name %>">
                                <%= s.option_name %>
                            </option>
                            <% }); %>
                    </select>
                </td>
            </tr>

            <tr>
                <td>
                    <label for="status">Relationship Status:</label>
                    <select name="relation_status" id="status">
                        <%relation.forEach(function(rel){%>
                            <option value="<%=rel.option_name%>">
                                <%=rel.option_name%>
                            </option>
                            <%});%>
                    </select>
                </td>
            </tr>
        </table>
    </fieldset>


    <fieldset>
        <legend>Education Info</legend>

        <div class="edu">
            <div id="education" class="edu">
                <div class="education-item">
            <tr>
                <td>
                    <select name="course">
                        <%course.forEach(function(c) {%>
                            <option value="<%=c.option_name%>">
                                <%=c.option_name%>
                            </option>
                            <%});%>
                    </select>
                </td>
                <td>
                    Name of Board
                    <input type="text" name="board" class="board" />
                </td>

                <td>
                    Passing Year
                    <input type="text" name="passingYear" />
                </td>
                <td>
                    percentage
                    <input type="text" name="percentage" />
                </td>
                <td> <button type="button" id="add-education-button">+</button></td>
            </tr>
                </div>
            </div>
        </div>
            
      
    </fieldset>

    <fieldset>
        <legend>Work Experience</legend>
        <table class="table">
            <tr>
                <td><label for="company-name">Comapany Name</label>
                    <input type="text" id="company_name" name="company_name" />
                </td>
                <td><label for="designation">Designation:</label>
                    <input type="text" name="jobtitle" />
                </td>
                <td> <label for="start-date">Form:</label>
                    <input type="date" id="start-date" name="start_date" />
                </td>
                <td> <label for="end-date">To:</label>
                    <input type="date" id="end-date" name="end_date" />
                </td>
                <td>
                    <button type="button" id="add-experience-button">+</button>
                </td>
            </tr>
        </table>
    </fieldset>

    <div class="same">
    <fieldset>
        <legend>
            Languages Known
        </legend>
        <table>
            <%language.forEach(function(lan) {%>
            <tr>
                <td>
                    <%=lan.option_name%><input type="checkbox" value="<%=lan.option_name%>" name="Language" />
                </td>
                <td>
                    Read:<input type="checkbox" name="<%=lan.option_name%>read" value="yes" />
                </td>
                <td>
                    Write:<input type="checkbox" name="<%=lan.option_name%>write" value="yes" />
                </td>
                <td>
                    Speak:<input type="checkbox" name="<%=lan.option_name%>speak" value="yes" />
                </td>  
            </tr>
            <%});%>
            
        </table>
    </fieldset>

    <fieldset>
        <legend>Technologies:</legend>
        <table>
            <% tec.forEach(function(t) {%>
            <tr>
                <td><%=t.option_name%><input type="checkbox" value="<%=t.option_name%>" name="technology" /></td>
                <td>Beginner: <input type="radio" name="<%=t.option_name%>a" value="beginner" /></td>
                <td>Intermediate: <input type="radio" name="<%=t.option_name%>a" value="Intermediate" /></td>
                <td>Expert:<input type="radio" name="<%=t.option_name%>a" value="Expert" /></td>
            </tr>
            <%});%>
        </table>
    </fieldset>
</div>
    <fieldset>
        <legend>References</legend>
        <table>
            <tr>
                <td>
                    Name:<input type="text" name="rname" />
                </td>
                <td>
                    Contact:  <input type="text" name="rcontact" />
                </td>
                <td>
                    Relation:  <input type="text" name="relation" />
                </td>
            </tr>
            <tr>
                <td>
                    Name:<input type="text" name="rname" />
                </td>
                <td>
                    Contact:  <input type="text" name="rcontact" />
                </td>
                <td>
                    Relation:  <input type="text" name="relation" />
                </td>
            </tr>
        </table>
    </fieldset>
   <fieldset>
    <legend>Preferences</legend>
    <table>
        <tr>
            <td>
            
                    <label for="location">Prefered Location:</label>
                    <select name="location">
                      <%location.forEach(function(loc) {%>
                        <option value="<%=loc.option_name%>">
                          <%=loc.option_name%>
                        </option>
                        <%});%>
                    </select>
                 
            </td>
            <td> <label for="notice">Notice Period</label></td>
            <td> <input type="text" name="notice" /></td>
            <td><label for="expected">Expected CTC</label></td>
            <td><input type="text" name="expected_ctc" id="expected" /></td>
        </tr>
        <tr>
            
            <td>
                <label for="department">Department:</label>
                <select name="department">
                <% dep.forEach(function(d) {%>
                  <option value="<%=d.option_name%>">
                    <%=d.option_name%>
                  </option>
                  <%});%>
              </select></td>
              
        </tr>
    </table>
   </fieldset>
</body>
<script>
     const educationDetails = document.getElementById("education");
  const addEducationButton = document.getElementById("add-education-button");

  addEducationButton.addEventListener("click", function () {
    const educationItem = document.createElement("div");
    educationItem.classList.add("education-item");
    educationItem.innerHTML = `
    <tr>
                <td>
                    <select name="course">
                        <%course.forEach(function(c) {%>
                            <option value="<%=c.option_name%>">
                                <%=c.option_name%>
                            </option>
                            <%});%>
                    </select>
                </td>
                <td>
                    Name of Board
                    <input type="text" name="board" class="board" />
                </td>

                <td>
                    Passing Year
                    <input type="text" name="passingYear" />
                </td>
                <td>
                    percentage
                    <input type="text" name="percentage" />
                </td>
                
            </tr>

  `;
    educationDetails.appendChild(educationItem);
  });
</script>
</html>