<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Table_Data</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <style>
      a {
        font-size: 20px;
        text-decoration: none;
      }
      .active{
        color: red;
      }
      button{
        background-color: bisque;
      }
    </style>
  </head>

  <body>
    <h2>Table Data</h2>
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th><a href="/1/id/asc"">ID</a></th>
          <th><a href="/1/first_name/asc">First Name</a></th>
          <th><a href="/1/last_name/asc">Last Name</a></th>
          <th><a href="/1/email/asc">Email</a></th>
          <th><a href="/1/dob/asc">DOB</a></th>
        </tr>
      </thead>
      <tbody>
        <% for (let i=0; i < data.length; i++) { %>
        <tr>
          <td><%= data[i].id %></td>
          <td><%= data[i].first_name %></td>
          <td><%= data[i].last_name %></td>
          <td><%= data[i].email %></td>
          <td>
            <%= data[i].dob.getDay()%>-<%= data[i].dob.getMonth()%>-<%=
            data[i].dob.getFullYear()%>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <% if (page !== 1) { %>
          <a href="/<%= (page-1) %>/<%= sort %>/<%= order %>" class="page-link">Previous</a>
          <% } %>
        </li>
        <li>
          <% for (let i = 0; i < pages.length; i++) { %>
            <button><a href="/<%= (i+1) %>/<%= sort %>/<%= order %>" class="<%= pages[i] === page ? 'active' : '' %>"><%= (i+1) %></a></button>
          <% } %>
          </li>

        <li class="page-item">
          <% if (page !== pages.length) { %>
          <a href="/<%= (page+1) %>/<%= sort %>/<%= order %>" class="page-link">Next</a>
          <% } %>
        </li>
      </ul>
    </nav>
  </body>
  <script>
    var td = document.querySelectorAll("td");
    var select = document.getElementById("select");
    td.forEach((e) => {
      e.setAttribute("class", "table-primary");
    });
   
  </script>
 
</html>
