<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <td>ID</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Email</td>
            <td>DOB</td>
        </tr>
        <% for(let i=0; i<10; i++) {%>
        <tr>
            <td><%= data[0][i].id %></td>
            <td><%= data[0][i].first_name %></td>
            <td><%= data[0][i].last_name %></td>
            <td><%= data[0][i].email %></td>
            <td><%= data[0][i].dob %></td>
        </tr>
        <%}%>
    </table>
    <br>

    <table>
        <tr>
            <td>ID</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Email</td>
            <td>DOB</td>
        </tr>
        <% for(let i=0; i<10; i++) {%>
        <tr>
            <td><%= data[1][i].id %></td>
            <td><%= data[1][i].first_name %></td>
            <td><%= data[1][i].last_name %></td>
            <td><%= data[1][i].email %></td>
            <td><%= data[1][i].dob %></td>
        </tr>
        <%}%>
    </table>
    <br>

    <table>
        <tr>
            <td>ID</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Email</td>
            <td>DOB</td>
        </tr>
        <% for(let i=0; i<10; i++) {%>
        <tr>
            <td><%= data[2][i].id %></td>
            <td><%= data[2][i].first_name %></td>
            <td><%= data[2][i].last_name %></td>
            <td><%= data[2][i].email %></td>
            <td><%= data[2][i].dob %></td>
        </tr>
        <%}%>
    </table>
    <br>

    <table>
        <tr>
            <td>ID</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Email</td>
            <td>DOB</td>
        </tr>
        <% for(let i=0; i<10; i++) {%>
        <tr>
            <td><%= data[3][i].id %></td>
            <td><%= data[3][i].first_name %></td>
            <td><%= data[3][i].last_name %></td>
            <td><%= data[3][i].email %></td>
            <td><%= data[3][i].dob %></td>
        </tr>
        <%}%>
    </table>
    <br>

    <table>
        <tr>
            <td>ID</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Email</td>
            <td>DOB</td>
        </tr>
        <% for(let i=0; i<10; i++) {%>
        <tr>
            <td><%= data[4][i].id %></td>
            <td><%= data[4][i].first_name %></td>
            <td><%= data[4][i].last_name %></td>
            <td><%= data[4][i].email %></td>
            <td><%= data[4][i].dob %></td>
        </tr>
        <%}%>
    </table>
    <br>

    <table>
        <tr>
            <td>ID</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Email</td>
            <td>DOB</td>
        </tr>
        <% for(let i=0; i<10; i++) {%>
        <tr>
            <td><%= data[5][i].id %></td>
            <td><%= data[5][i].first_name %></td>
            <td><%= data[5][i].last_name %></td>
            <td><%= data[5][i].email %></td>
            <td><%= data[5][i].dob %></td>
        </tr>
        <%}%>
    </table>
    <br>

    <table>
        <tr>
            <td>ID</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Email</td>
            <td>DOB</td>
        </tr>
        <% for(let i=0; i<10; i++) {%>
        <tr>
            <td><%= data[6][i].id %></td>
            <td><%= data[6][i].first_name %></td>
            <td><%= data[6][i].last_name %></td>
            <td><%= data[6][i].email %></td>
            <td><%= data[6][i].dob %></td>
        </tr>
        <%}%>
    </table>
    <br>
    
    <table>
        <tr>
            <td>ID</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Email</td>
            <td>DOB</td>
        </tr>
        <% for(let i=0; i<10; i++) {%>
        <tr>
            <td><%= data[7][i].id %></td>
            <td><%= data[7][i].first_name %></td>
            <td><%= data[7][i].last_name %></td>
            <td><%= data[7][i].email %></td>
            <td><%= data[7][i].dob %></td>
        </tr>
        <%}%>
    </table>
    <br>

    <table>
        <tr>
            <td>ID</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Email</td>
            <td>DOB</td>
        </tr>
        <% for(let i=0; i<10; i++) {%>
        <tr>
            <td><%= data[8][i].id %></td>
            <td><%= data[8][i].first_name %></td>
            <td><%= data[8][i].last_name %></td>
            <td><%= data[8][i].email %></td>
            <td><%= data[8][i].dob %></td>
        </tr>
        <%}%>
    </table>
    <br>

    <table>
        <tr>
            <td>ID</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Email</td>
            <td>DOB</td>
        </tr>
        <% for(let i=0; i<10; i++) {%>
        <tr>
            <td><%= data[9][i].id %></td>
            <td><%= data[9][i].first_name %></td>
            <td><%= data[9][i].last_name %></td>
            <td><%= data[9][i].email %></td>
            <td><%= data[9][i].dob %></td>
        </tr>
        <%}%>
    </table>
    <br>
    <% for(let i=0; i<10; i++) {%>
        <% for(let j=0; i<10; i++) {%>
    <table>
        <tr>
            <td>ID</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Email</td>
            <td>DOB</td>
        </tr>
       
        <tr>
            <td><%= data[i][j].id %></td>
            <td><%= data[i][j].first_name %></td>
            <td><%= data[i][j].last_name %></td>
            <td><%= data[i][j].email %></td>
            <td><%= data[i][j].dob %></td>
        </tr>
        <%}%>
        <%}%>
    </table>
</body>
</html>